{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title%}{% endblock%}
{% block content %}


 <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area blog bg-img bg-overlay jarallax" style="background-image: url({{art.image.url }});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <a href="#" class="btn post-catagory">{{art.category }}</a>
                        <h2 class="page-title">{{art.title}}</h2>
                        <div class="post-meta">
                            <a href="#" class="post-author">By {{art.author}}</a>
                            <a href="#" class="post-date">{{art.posted_on}}</a>
                            <a href="#" class="post-comments">No Comments</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Blog Details Area Start -->
    <div class="alime--blog-area section-padding-80">
        <div class="container">
                    <p>{{art.body }}</p>
                    <!-- Post Author Area -->
                    <div class="post-author-area mt-50 d-flex align-items-center justify-content-between">
                        <ul class="popular-tags">
                            <li><a class="btn badges-btn" href="#">CAMERA</a></li>
                            <li><a class="btn badges-btn" href="#">PHOTOGRAHY</a></li>
                            <li><a class="btn badges-btn" href="#">TIPS</a></li>
                        </ul>

                        <!-- Share Info -->
                        <div class="post-social-info d-flex align-items-center">
                            <p>Share:</p>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Details Area End -->

    <!-- Pager Area Start -->
    <div class="alime-pager-area section-padding-0-80">
        <div class="container">
            <div class="row no-gutters">
                <!-- Previous -->
                <div class="col-6">
                    <div class="previous bg-img" style="background-image: url({{art.next_post.image.url}});">
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <a href="/article/{{art.next_post.id}}" class="post-title">{{art.next_post.title}}</a>
                            <a href="/article/{{art.next_post.id}}" class="previous-link"><i class="arrow_left"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Next -->
                <div class="col-6">
                    <div class="next bg-img" style="background-image: url({{art.previous_post.image.url }});">
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <a href="/article/{{art.previous_post.id}}" class="post-title">{{art.previous_post.title}}</a>
                            <a href="/article/{{art.previous_post.id}}" class="next-link"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pager Area End -->

    <!-- Related News Area Start -->
    <div class="related-news-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Recommended For You</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Blog Area -->
                {% for g in four %}
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area">
                        <!-- Post Thumbnail -->
                        {% thumbnail g.image "400x250" crop="center" as j %}
                        <a href="#" class="post-thumbnail"><img width="{{ j.width }}" height="{{ j.height }}" src="{{ j.url }}"  alt=""></a>
                        {% endthumbnail%}
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">{{g.category}}</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">{{g.posted_on}}</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="/article/{{g.id}}" class="post-title">{{g.title}}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                
            </div>

            <div class="border-top mt-5"></div>
        </div>
    </div>
    <!-- Related News Area End -->

    <!-- Comment Area Start -->
    <div class="comment-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <!-- Comments Area -->
                    <div class="comment_area clearfix">
                        <h4 class="mb-30">02 Comments</h4>

                        <ol>
                            <!-- Single Comment Area -->
                            {% for t in comment %}
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                         {% thumbnail t.avatar_commenter.profile_picture "75x75" crop="center" as m %}
                                        <img width="{{ m.width }}" height="{{ m.height }}" src="{{m.url}}" alt="author">
                                        {% endthumbnail%}
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-date">{{t.date}}</a>
                                        <h5>{{t.user_comment}}</h5>
                                        <p>{{t.comment}}</p>
                                       
                                    </div>
                                </div>
                                {% endfor %}

                               
                            </li>

                           
                    <div class="alime-contact-form mt-50">
                        <h4 class="mb-30">Leave A Comment</h4>

                        <!-- Form -->
                        <form action="#" method="post">
                            <div class="row">
                                
                                <div class="col-12">
                                    <textarea name="message" class="form-control mb-30" placeholder="Comments"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn alime-btn btn-2 mt-15">Add Comments</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Comment Area End -->

    <!-- Follow Area Start -->
    <div class="follow-area clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Follow Instagram</h2>
                        <p>@Alime_photographer</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Feed Area -->
        <div class="instragram-feed-area owl-carousel">
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="img/bg-img/11.jpg" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Alime_photographer</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="img/bg-img/12.jpg" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Alime_photographer</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="img/bg-img/13.jpg" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Alime_photographer</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="img/bg-img/14.jpg" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Alime_photographer</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="img/bg-img/15.jpg" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Alime_photographer</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="img/bg-img/16.jpg" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Alime_photographer</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Follow Area End -->

{% endblock %}